<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A web app</title>
</head>

<link rel="stylesheet" href="/style.css" type="text/css">

<body>
    <header>
        <h1 class="title">{{pageTitle}}</h1>
        <p>
            <a href="/">Home</a>
        </p>
        <p>
            <a href="/about">About</a>
        </p>

        <p>
            <a href="/projects">My projects</a>
        </p>
    </header>