{{!-- {{> header }} --}}

<link rel="stylesheet" href="/style.css" type="text/css">

<h1 class="title">{{pageTitle}}</h1>

<div class="msg">{{screamIt welcome}} </div>

<form action="/routine" , method="POST">
    <label for="day">What day it is: </label>
    <select name="day" id="day">
        <option value="SaturdayValue">Saturday</option>
        <option value="SundayValue">Sunday</option>
        <option value="WednesdayValue">Wednesday</option>
        <option value="ThrusdayValue">Thrusday</option>
    </select>
    <input type="submit">
</form>



{{> footer }}