<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sunday</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
    <h1>{{ pageTitle }} </h1>
    <h5>
        <a href="/">Home</a>
    </h5>

    <div class="total">
        <div class="AIlab">
            <h3>
                <b>Subject</b> -
                <em>Web Engineering
                </em>
            </h3>
            <h3>
                <b>Time</b> -
                <em>1.00-2.30</em>
            </h3>
            <h3>
                <b>Room</b> -
                <em>806 DT</em>
            </h3>
            <h3>
                <b>Teacher</b> -
                <em>LR</em>
            </h3>
        </div>

        <div class="web">
            <h3>
                <b>Subject</b> -
                <em>Simulation and Modelling</em>
            </h3>
            <h3>
                <b>Time</b> -
                <em>2.30-4.00</em>
            </h3>
            <h3>
                <b>Room</b> -
                <em>806 DT</em>
            </h3>
            <h3>
                <b>Teacher</b> -
                <em>TAM</em>
            </h3>
        </div>

        <div class="third">
            <h3>
                <b>Subject</b> -
                <em>Artificial Intelligence</em>
            </h3>

            <h3>
                <b>Time</b> -
                <em>4.00-5.30</em>
            </h3>

            <h3>
                <b>Room</b> -
                <em>806 DT</em>
            </h3>

            <h3>
                <b>Teacher</b> -
                <em>IK</em>
            </h3>

        </div>

    </div>

    {{> footer }}